/* Import Google Fonts at the beginning of your CSS file */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

/* Apply the improved CSS with the imported font */
.home-container {
  background-image: url("../../public/bg.svg");
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}

.home-mini-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  width: 90vw;
}

.home-header {
  flex: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 4rem;
}

.home-btn {
  margin-top: 2rem;
}

.home-header h1 {
  font-size: 5rem;
  color: white;
  margin: 0;
  font-weight: 500;
}

.home-header p {
  color: white;
  font-weight: 300;
}

.home-use {
  flex: 0.4;
  color: white;
  display: flex;
  padding: 12px;
  align-items: center;
  flex-direction: column;
  margin-top: 4rem;
  opacity: 0.8;
  background-color: rgba(0, 0, 0, 0.5);
  height: 65vh;
  border-radius: 10px;
  font-size: 1.2rem;
  align-content: center;
}

.home-use ul li {
  list-style: square;
  margin: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
}

.cta-btn {
  padding: 10px 20px;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transform: scale(1);
  transition: all 0.3s ease-in-out;

  font-family: 'Montserrat', sans-serif;
  background-color: #1385f8;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

.cta-btn:hover {
  background-color: #3247ff;
  transform: scale(1.05);
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .home-mini-container {
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }

  .home-header {
    margin-top: 2rem;
  }

  .home-use {
    font-size: 1rem;
    margin-top: 2rem;
    height: auto;
  }

  .home-use ul li {
    font-size: 1.2rem;
  }

  .cta-btn {
    font-size: 0.9rem;
    padding: 8px 16px;
  }
}